In [6]:
import pandas as pd
df = pd.read_csv('C:/Users/malco/aaPythonPersonalNotebook/DBS Data Scientist Treasury and Market Operations/presentation/adult_data_Binary5050.csv',index_col = 0)
df.dropna(axis=1, inplace= True)
df

,age,workclass,workclass.1,fnlwgt,education,education.1,education-num,marital-status,marital-status.1,occupation,...,race,race.1,sex,sex.1,capital-gain,capital-loss,hours-per-week,native-country,native-country.1,class
28244,44,Private,3,116358,Bachelors,9,13,Married-civ-spouse,2,Sales,...,Asian-Pac-Islander,1,Male,1,0,0,40,United-States,38,1
27244,43,Private,3,289669,Masters,12,14,Divorced,0,Prof-specialty,...,White,4,Female,0,0,2547,40,United-States,38,1
2294,21,Private,3,212619,Assoc-voc,8,11,Never-married,4,Machine-op-inspct,...,White,4,Male,1,0,0,40,United-States,38,0
24812,73,?,0,135601,Bachelors,9,13,Married-civ-spouse,2,?,...,White,4,Male,1,0,0,10,United-States,38,0
950,43,Private,3,227065,Masters,12,14,Married-civ-spouse,2,Exec-managerial,...,White,4,Male,1,0,0,43,United-States,38,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4534,48,Private,3,377757,10th,0,6,Married-civ-spouse,2,Sales,...,White,4,Male,1,0,0,70,United-States,38,0
21194,55,Private,3,196126,Bachelors,9,13,Separated,5,Craft-repair,...,White,4,Male,1,0,0,40,?,0,0
12944,67,Self-emp-not-inc,5,106143,Doctorate,10,16,Married-civ-spouse,2,Sales,...,White,4,Male,1,20051,0,40,United-States,38,1
28376,23,Local-gov,2,442359,Bachelors,9,13,Never-married,4,Prof-specialty,...,White,4,Female,0,0,1092,40,United-States,38,0
25628,22,Private,3,119592,Assoc-acdm,7,12,Never-married,4,Handlers-cleaners,...,Black,2,Male,1,0,2824,40,?,0,1

In [93]:
count = 0

In [97]:
for count in range(40):
    df_temp = df[df['native-country.1'] == count]
    count+=1
    print(df_temp.iloc[0, 20])

 ?
 Cambodia
 Canada
 China
 Columbia
 Cuba
 Dominican-Republic
 Ecuador
 El-Salvador
 England
 France
 Germany
 Greece
 Guatemala
 Haiti
 Honduras
 Hong
 Hungary
 India
 Iran
 Ireland
 Italy
 Jamaica
 Japan
 Laos
 Mexico
 Nicaragua
 Outlying-US(Guam-USVI-etc)
 Peru
 Philippines
 Poland
 Portugal
 Puerto-Rico
 Scotland
 South
 Taiwan
 Thailand
 Trinadad&Tobago
 United-States
 Vietnam