https://machinelearningmastery.com/tensorflow-tutorial-deep-learning-with-tf-keras/

# Objective of this Notebook is to predict by each column, see which has the highest Accuracy rate, meaning it contributes to feature importance

# Predict on Single Model

# Train Model

In [4]:
# mlp for binary classification
from pandas import read_csv
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense
# load the dataset

import pandas as pd
import numpy as np
df = pd.read_csv('C:/Users/malco/aaPythonPersonalNotebook/DBS Data Scientist Treasury and Market Operations/dataset/adult_data_RenameCol_MinMax_LE.csv',index_col = 0)
df_cols = df.columns.to_list()
print("df_cols:",df_cols)
df_noX = df.iloc[:,:-1]


df_cols_label = df_cols[6:-1]
print("df_cols_label:",df_cols_label)

df_educ = df[['education', 'class']]

df_noX

df_cols: ['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week', 'workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country', 'class']
df_cols_label: ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country']

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass,education,marital-status,occupation,relationship,race,sex,native-country
0,0.452055,0.048238,0.800000,0.000000,0.0,0.122449,6,9,2,4,0,4,1,39
1,0.287671,0.138113,0.533333,0.000000,0.0,0.397959,4,11,0,6,1,4,1,39
2,0.493151,0.151068,0.400000,0.000000,0.0,0.397959,4,1,2,6,0,2,1,39
3,0.150685,0.221488,0.800000,0.000000,0.0,0.397959,4,9,2,10,5,2,0,5
4,0.273973,0.184932,0.866667,0.000000,0.0,0.397959,4,12,2,4,5,4,0,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,0.136986,0.166404,0.733333,0.000000,0.0,0.377551,4,7,2,13,5,4,0,39
32556,0.315068,0.096500,0.533333,0.000000,0.0,0.397959,4,11,2,7,0,4,1,39
32557,0.561644,0.094827,0.533333,0.000000,0.0,0.397959,4,11,6,1,4,4,0,39
32558,0.068493,0.128499,0.533333,0.000000,0.0,0.193878,4,11,4,1,3,4,1,39
32559,0.479452,0.187203,0.533333,0.150242,0.0,0.397959,5,11,2,4,5,4,0,39

In [5]:
educx = df_educ['education'].to_list()
educx_array = df_educ.loc[:,'education'].to_numpy()
educx_array

array([ 9, 11,  1, ..., 11, 11, 11], dtype=int64)

# Predict on all Columns

In [14]:
df

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass,education,marital-status,occupation,relationship,race,sex,native-country,class
0,0.452055,0.048238,0.800000,0.000000,0.0,0.122449,6,9,2,4,0,4,1,39,0
1,0.287671,0.138113,0.533333,0.000000,0.0,0.397959,4,11,0,6,1,4,1,39,0
2,0.493151,0.151068,0.400000,0.000000,0.0,0.397959,4,1,2,6,0,2,1,39,0
3,0.150685,0.221488,0.800000,0.000000,0.0,0.397959,4,9,2,10,5,2,0,5,0
4,0.273973,0.184932,0.866667,0.000000,0.0,0.397959,4,12,2,4,5,4,0,39,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,0.136986,0.166404,0.733333,0.000000,0.0,0.377551,4,7,2,13,5,4,0,39,0
32556,0.315068,0.096500,0.533333,0.000000,0.0,0.397959,4,11,2,7,0,4,1,39,1
32557,0.561644,0.094827,0.533333,0.000000,0.0,0.397959,4,11,6,1,4,4,0,39,0
32558,0.068493,0.128499,0.533333,0.000000,0.0,0.193878,4,11,4,1,3,4,1,39,0
32559,0.479452,0.187203,0.533333,0.150242,0.0,0.397959,5,11,2,4,5,4,0,39,1

In [22]:
final_accuracy_list = []
dev_accuracy_list = []

In [24]:
# df


for count in range(6,13+1):
    column_name = df_cols[count]

    print("column_name:",column_name)
    print("column Number:",count)
    # for column_name in df_cols_label:
    y = df.loc[:,column_name].to_numpy()
    X = df.iloc[:,-1].to_numpy()
    final_layer = len(np.unique(y))
    print("num_final_layer:",final_layer)

    random_chance = 1/final_layer
    print("random_chance:",random_chance)
    # print("X:",X)
    # print("y:",y)


    # ensure all data are floating point values
    X = X.astype('float32')
    # encode strings to integer
    y = LabelEncoder().fit_transform(y)
    # split into train and test datasets

    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)
    # print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

    # define model
    model = Sequential()
    model.add(Dense(10, activation='relu', kernel_initializer='he_normal', input_shape=(1,)))
    model.add(Dense(8, activation='relu', kernel_initializer='he_normal'))
    model.add(Dense(final_layer, activation='softmax'))
    # compile the model
    model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])
    # fit the model
    model.fit(X_train, y_train, epochs=150, batch_size=32, verbose=0)
    # evaluate the model
    loss, acc = model.evaluate(X_test, y_test, verbose=0)
    dev_accuracy_list.append(acc)
    print('Test Accuracy: %.3f' % acc)
    print('\n')

column_name: workclass
column Number: 6
num_final_layer: 9
random_chance: 0.1111111111111111
Test Accuracy: 0.694


column_name: education
column Number: 7
num_final_layer: 16
random_chance: 0.0625
Test Accuracy: 0.339


column_name: marital-status
column Number: 8
num_final_layer: 7
random_chance: 0.14285714285714285
Test Accuracy: 0.516


column_name: occupation
column Number: 9
num_final_layer: 15
random_chance: 0.06666666666666667
Test Accuracy: 0.162


column_name: relationship
column Number: 10
num_final_layer: 6
random_chance: 0.16666666666666666
Test Accuracy: 0.420


column_name: race
column Number: 11
num_final_layer: 5
random_chance: 0.2
Test Accuracy: 0.856


column_name: sex
column Number: 12
num_final_layer: 2
random_chance: 0.5
Test Accuracy: 0.673


column_name: native-country
column Number: 13
num_final_layer: 42
random_chance: 0.023809523809523808
Test Accuracy: 0.896

In [ ]:
import requests
def get_pass():
    
    pw = '1729173241:AAH-Xuwdpukn8bVu-nExWWUZsV5bw5cb360'
    chatid = '-516181344'
    
    dict_ = 'Code Passed'
    url1 = 'https://api.telegram.org/bot{}/sendMessage?chat_id={}&text={}&disable_web_page_preview=True&parse_mode=markdown'.format(
        pw, chatid, dict_)
    resp = requests.get(url1)
get_pass()